body {
	font: 300 18px/24px 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 500px;
}

h1 {
	font: 900 72px/72px 'Lato', sans-serif;
	text-transform: uppercase;
}

form input {
	box-sizing: border-box;
	display: block;
	font: 18px/24px Helvetica, sans-serif;
}

input[type="text"], input[type="email"] {
	font: 300 18px/24px 'Open Sans', sans-serif;
	width: 100%;
	margin: 0 0 1em 0;
}

input[type="submit"] {
	-webkit-appearance: none;
	background: rgb(127, 203, 232);
	border: none;
	color: rgb(0, 110, 132);
	float: right;
	font: 300 18px/24px 'Open Sans', sans-serif;
	padding: 12px 24px;
}

code {
	color: rgb(0, 110, 132);
	font-size: 1em;
	font-family: Monaco, monospace;
	text-transform: none;
}